<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
    <mdl-layout-header>
        <mdl-layout-header-row>
            <mdl-layout-title>Auto Pie</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!--nav class="mdl-navigation">
                <a class="mdl-navigation__link" routerLink="/">Add</a>
            </nav-->
        </mdl-layout-header-row>
    </mdl-layout-header>
    <!--mdl-layout-drawer>
        <mdl-layout-title>Auto Pie</mdl-layout-title>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/">Home</a>
        </nav>
    </mdl-layout-drawer-->
    <mdl-layout-content class="demo-content">
        <router-outlet></router-outlet>
        <dialog-outlet></dialog-outlet>
    </mdl-layout-content>
</mdl-layout>
