<div class="mdl-grid">
    <div *ngFor="let info of rooms; let roomIndex = index;" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <!-- room card -->
        <mdl-card mdl-card-expand class="mdl-shadow--2dp">
            <mdl-card-title>
                <h2 mdl-card-title-text> {{ info.room.roomname }} </h2>
            </mdl-card-title>
            <mdl-card-menu>
                <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
                <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
                    <mdl-menu-item mdl-ripple #editRoomButton (click)="editRoom(info.room.roomid, !editing); editRoomDialog.show()">Edit Room</mdl-menu-item>
                    <mdl-menu-item mdl-ripple (click)="editRoom(info.room.roomid, !editing)">Edit Devices</mdl-menu-item>
                </mdl-menu>
            </mdl-card-menu>
            <mdl-card-supporting-text>
                <!-- list of devices -->
                <mdl-list>
                    <mdl-list-item *ngFor="let device of info.devices; let deviceIndex = index;">
                        <mdl-list-item-primary-content>
                            {{ device.devicename }}
                        </mdl-list-item-primary-content>
                        <mdl-icon mdl-list-item-icon>
                            <mdl-switch *ngIf="!isEditingRoom(device.roomid)" mdl-ripple (click)="switchDevice(device.roomid, device.port)"></mdl-switch>
                            <button *ngIf="isEditingRoom(device.roomid)" #editUserButton mdl-button mdl-button-type="icon" (click)="editDevice(deviceIndex, roomIndex); editDeviceDialog.show()">
                                <mdl-icon>edit</mdl-icon>
                            </button>
                        </mdl-icon>
                    </mdl-list-item>
                </mdl-list>
                <!-- /list of devices -->
            </mdl-card-supporting-text>
        </mdl-card>
    </div>

    <mdl-dialog #editRoomDialog
        [mdl-dialog-config]="{
            clickOutsideToClose: true,
            styles:{'width': '300px'},
            isModal:true,
            openFrom: editRoomButton,
            enterTransitionDuration: 400,
            leaveTransitionDuration: 400}">
        <h3 class="mdl-dialog__title">Edit Room</h3>
        <div class="mdl-dialog__content">
            <mdl-textfield type="text" label="Room Name" [(ngModel)]="getRoomAtIndex(editingRoomIndex).roomname" floating-label autofocus></mdl-textfield>
        </div>
        <div class="mdl-dialog__actions">
            <button mdl-button (click)="saveRoom()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
            <button mdl-button (click)="editRoomDialog.close()" mdl-ripple>Cancel</button>
        </div>
    </mdl-dialog>

    <mdl-dialog #editDeviceDialog
    [mdl-dialog-config]="{
        clickOutsideToClose: true,
        styles:{'width': '300px'},
        isModal:true,
        openFrom: editUserButton,
        enterTransitionDuration: 400,
        leaveTransitionDuration: 400}">
        <h3 class="mdl-dialog__title">Edit Device</h3>
        <div class="mdl-dialog__content">
            <mdl-textfield type="text" label="Device Name" [(ngModel)]="getDeviceByIndexes(editingRoomIndex, editingDeviceIndex).devicename" floating-label autofocus></mdl-textfield>
            <mdl-textfield type="text" label="GPIO Port" [(ngModel)]="getDeviceByIndexes(editingRoomIndex, editingDeviceIndex).port" floating-label autofocus></mdl-textfield>
        </div>
        <div class="mdl-dialog__actions">
            <button mdl-button (click)="updateDevice(editDevice); editDeviceDialog.close()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
            <button mdl-button (click)="editDeviceDialog.close()" mdl-ripple>Cancel</button>
        </div>
    </mdl-dialog>
</div>
